<html>
  <head>
    <a href="/lead_actors">Lead Actors Index</a>
    <a href="/movies">Movie Index</a>
    <h1>Lead Actors</h1>
  </head>

  <body>
    <% @lead_actors.each do |actor| %>
      <h3><%= link_to actor.name, "/lead_actors/#{actor.id}" %></h3>
      <p>Created At: <%= actor.created_at %></p>
    <% end %>
    <a href="/lead_actors/new">New Lead Actor </a>
  </body>
</html>
