<html>
  <head>
    <a href = "/">Welcome/Navigation</a>

    <h1><%= @movie.name %></h1>
  </head>

  <body>
    <p>Movie Rating(Rotten Tomatoes): <%= @movie.rating %></p>
    <p>Over Two Hours?: <%= @movie.over_two_hours %></p>
    <p>Lead Actor's ID: <%= @movie.lead_actor_id %></p>
  </body>
</html>
