<html>
  <head>
    <h1>Welcome to the "Lead Actors" to "Movies" Relational Database Project</h1>
  </head>

  <body>
    <ul>
      <li><a href="/lead_actors">Lead Actors Index</a></li>
      <li><a href="/movies">Lead Actors Movies Index</a></li>
    </ul>
  </body>
</html>
